<footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
            
            <!-- visit map -->
            <div class="visit-map">
                <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=9bd192&w=a&t=tt&d=QyFi4WbwbM-sSZiPVW-DpJrZX-ZI6rgc3i9t0AZLed0&co=f8f9fa&cmn=042f68&cmo=2a60a8&ct=a8a8a8'></script>
            </div>
        </div>
    </div>
</footer>
